body{
    background: #ffffff;
}

/* TAGLINE STYLES. */
.background-custom {
    /* background-image: url(../img/bg.jpg); */
    background-image: url(https://res.cloudinary.com/djpifu0cl/image/upload/v1709777973/new-york-img_l6wbss.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 41rem;
    position: relative;
    display: flex;
    justify-content: center;
}
.tagline-title {
    font-size: 6rem;
}
.tagline-subtitle {
    font-size: 3.2rem;
    padding: 2px;
}
.position-custom-title {
    width: 98%;
    position: absolute;
    top: 4rem;
    margin: auto;
}
.position-custom-subtitle {
    position: absolute;
    top: 12.7rem;
    width: 98%;
    margin: auto;
}

@media(max-width:968px) {
    .tagline-title {
        font-size: 4.5rem;
    }
    .tagline-subtitle {
        font-size: 2.5rem;
        padding: 5px;
    }
    .position-custom-title {
        width: 98%;
        position: absolute;
        top: 5.5rem;
        margin: auto;
    }
    .position-custom-subtitle {
        position: absolute;
        top: 12.5rem;
        width: 98%;
        margin: auto;
}
}
/* CLOSE TAGLINE STYLES. */


/* SERVICES STYLES. */
.hr-services {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.font-custom-services {
    font-weight: 300;
}
/* CLOSE SERVICES STYLES. */
