<!-- your html code here -->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-7 px-2">
            <h1>This First Heading <span class="text-muted">Will Catch Your Eye</span></h1>
         <div class="w-100">
            
         <p class="fs-5 text text-muted" class="text-start">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit maxime minus obcaecati facilis odio similique aspernatur provident, corrupti voluptas impedit doloremque autem</p>
        </div>
        </div>
        <div class="col-3 g-0">
            <img class="rounded-circle" src="https://picsum.photos/seed/picsum/350/350" alt="#">
        </div>
    </div>
</div>