<!-- your html code here -->
<div class="container bg-white">
    <div>
        <h1><strong>Porfolio</strong></h1>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt repellendus expedita, molestias cumque
        perspiciatis natus inventore ab mollitia aliquid accusamus id quisquam impedit nulla itaque temporibus
        asperiores reiciendis, minima quidem?
    </div>
    <div>
        <div class="row bg-white mt-4">
            <div class="col-4">
                <div>
                    <img src="https://www.bhmpics.com/downloads/700x400-wallpapers/9.35tuqg.jpg" alt=""
                        style="width: 98%; height: 200px;">
                </div>
                <div class="mt-4">
                    <h3 class="text-primary"><strong>Project Name</strong></h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero reiciendis corporis fugiat
                        deleniti
                        praesentium atque. Non laudantium, necessitatibus est omnis, deserunt minima voluptatibus
                        tempora
                        obcaecati maxime fugiat quod sed temporibus?</p>
                </div>
            </div>
            <div class="col-4">
                <div>
                    <img src="https://www.bhmpics.com/downloads/700x400-wallpapers/9.35tuqg.jpg" alt=""
                        style="width: 98%; height: 200px;">
                </div>
                <div class="mt-4">
                    <h3 class="text-primary"><strong>Project Name</strong></h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero reiciendis corporis fugiat
                        deleniti
                        praesentium atque. Non laudantium, necessitatibus est omnis, deserunt minima voluptatibus
                        tempora
                        obcaecati maxime fugiat quod sed temporibus?</p>
                </div>
            </div>
            <div class="col-4">
                <div>
                    <img src="https://www.bhmpics.com/downloads/700x400-wallpapers/9.35tuqg.jpg" alt=""
                        style="width: 100%; height: 200px;">
                </div>
                <div class="mt-4">
                    <h3 class="text-primary"><strong>Project Name</strong></h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero reiciendis corporis fugiat
                        deleniti
                        praesentium atque. Non laudantium, necessitatibus est omnis, deserunt minima voluptatibus
                        tempora
                        obcaecati maxime fugiat quod sed temporibus?</p>
                </div>
            </div>
        </div>
    </div>
</div>