<!-- Services Branch - Agustin Trezza -->
<div class="bg-white">
    <div class="container py-5">

        <hr class="text-muted hr-services-first">

        <div class="row">
            <div class="p-0 col-xl-3 col-lg-4 col-md-5 mb-5 col-sm-12 d-flex justify-content-center justify-content-lg-start">
                <div class="overflow-hidden rounded-circle">
                    <img class="img-fluid" style="width: 300px; height: 300px;" src="https://res.cloudinary.com/djpifu0cl/image/upload/v1709912244/services-img-4geeks_ibm0hq.jpg" alt="services-image"/>
                </div>
            </div>
            <div class="p-0 col-xl-9 col-lg-8 col-md-7 col-sm-12 text-sm-center text-md-start">
                <h2 class="">The Second Heading <span class="text-muted">Is Pretty Cool Too.</span></h2>
                <p class="fs-6 font-custom">Donec ullamcorper nulla non metas autor fringilla. Vestibulum id lingua porta Melis euismod semper. Praesent comodo cursos magna, nel scelerisque niel consectetur. Fasce dapibus, telas ac cursos comodo.</p>
            </div>
        </div>

        <hr class="hr-services hr-services-second">
    </div>
    
</div>

<!-- your html code here -->
<p>Hello, I'm the services.html</p>
<p>Hello, I'm the services section and I was loaded using ajax from templates/services.html</p>